<p id="notice"><%= notice %></p>

<p>
  <strong>Icerik:</strong>
  <%= @calisma_sekli.icerik %>
</p>

<%= link_to 'Edit', edit_calisma_sekli_path(@calisma_sekli) %> |
<%= link_to 'Back', calisma_seklis_path %>
